body{
	background: url("img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1{
	text-align: center;
	font-size: 50px;
	color: #FFFFF0;
}

h2{
	text-align: center;
	font-size: 40px;
	color: #262626;
}

form{
	background-color: red;
	margin: 20px auto;
	width: 450px;
	color: #262626;
	border: 2px solid #262626;
	border-radius: 5px;
	padding: 50px;
	padding-right:70px;
}

input{
	padding: 10px;
	font-size: inherit;
}

input[type = "text"]{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid #262626;
	background: #FAF6D9;
}

input[type = "password"]{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid #262626;
	background: #FAF6D9;
}

input[type = "email"]{
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid #262626;
	background: #FAF6D9;
}

input[type = "radio"]{
	margin: 0 8px 25px 18px; 
}

input[type = "radio"]:first-child{
	margin-left: 0;
}

input[type = "submit"]{
	width: 470px;
	height: 45px;
	border: none;
	background: #000000;
	color: white;
}

input:focus{
	background: white;
}

input[type = "radio"]:checked + label{
	font-weight: bold;
	font-size: 18px;
}

input[type = "submit"]:focus{
	width: 470px;
	height: 45px;
	border: none;
	background-color: white;
	color: #000000;
}

mark{
    background-color: #A3DDFE;
    color: red;
}

input[type = "date"]{
	display: block;
	width: 100%;
	border: 2px solid #262626;
	background: #FAF6D9;
	margin-bottom: 25px;
}

input[type = "tel"]{
	display: block;
	width: 100%;
	border: 2px solid #262626;
	background: #FAF6D9;
	margin-bottom: 25px;
}

select{
	display: block;
	width: 30%;
	border: 2px solid #262626;
	margin-bottom: 25px;
	font-size: inherit;
}